/*global*/
.wrapper {
  background-color: #f7f7f7;
}

li {
  list-style-type: none;
}

button, input {
  border: none;
}

img {
  overflow: hidden;
}

/*main page sizes*/
/*maine colors*/
/*$color-lightgrey: #f7f7f7;
$color-midgrey: #e3e2e2;
$color-darkgrey: #757575;*/
/*font sizes*/
/*border radius for all*/
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: Oswald, sans-serif;
}

.header-container {
  min-width: 320px;
  background-color: #B8AB80;
  box-shadow: 0px -8px 19px -12px #000000 inset;
}

.logo-container {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}
.logo-container img {
  height: 150px;
}

.header-text-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  color: white;
  font-weight: 100;
  font-size: 30px;
  opacity: 0.78;
}

@media (min-width: 920px) {
  .header-container {
    height: 320px;
    display: flex;
    flex-direction: column;
  }

  .logo-container {
    padding: 40px 0 40px 0;
  }
  .logo-container img {
    height: 160px;
  }

  .header-text-container {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .header-container {
    height: 360px;
    display: flex;
    flex-direction: column;
  }

  .logo-container img {
    height: 200px;
  }
}
.maine-container {
  min-width: 320px;
  /*
    padding: 36px 30px 100px 30px;*/
}

.dark-elements {
  background-color: #4D4D4F;
  display: grid;
  grid-gap: 5em;
  justify-content: center;
  padding: 5em 120px 5em 0;
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.2) inset;
}

.light-elements {
  background-color: white;
  display: grid;
  grid-gap: 5em;
  justify-content: center;
  padding: 20px 120px 20px 20px;
}

.menu-header {
  /*  background-color: $color-maine-dark;*/
  /*  height: auto;
    max-width: 100%;*/
}

.menu-title {
  display: flex;
  padding: 1em 0 1em 0;
  justify-content: center;
  font-size: 40px;
  font-weight: 300;
  color: #21212a;
  opacity: 0.78;
}

.hr-line {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.menu-elements {
  display: grid;
  grid-gap: 5em;
}
.menu-elements img {
  align-self: center;
  justify-self: center;
  width: 750px;
  max-width: 100%;
  min-width: 370px;
  height: auto;
}

.toTopBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #B8AB80;
  color: white;
  padding: 30px 15px 30px 15px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}

@media (min-width: 920px) {
  .menu-title {
    font-size: 80px;
  }

  .toTopBtn {
    padding: 50px 30px 50px 30px;
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .toTopBtn {
    padding: 25px 25px 25px 25px;
    font-size: 40px;
    cursor: pointer;
  }

  .toTopBtn:hover {
    background-color: #555;
  }
}
footer {
  background-color: #B8AB80;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 0 20px 0;
}
footer img {
  height: 100%;
  padding-left: 20px;
  padding-bottom: 5px;
}

.copyright-container {
  color: white;
  font-weight: 200;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
