/*main page sizes*/
$minWidth: 320;
$maxWidthContainer: 1140;
$large-display: 1200;
$medium-display: 920;
$small-display: 760;
$mobile-display: 480;

/*maine colors*/
$color-maine-blue: #c5d9d3;
$color-maine-brown: #59514c;
/*$color-lightgrey: #f7f7f7;
$color-midgrey: #e3e2e2;
$color-darkgrey: #757575;*/
$color-maine-text: #3E4B47;
$color-header-text: white;

/*font sizes*/
$extra-large-font: 25px;
$large-font: 17px;
$medium-font: 14px;
$small-font: 12px;

/*border radius for all*/
$br: 5px;