/*main page sizes*/
$minWidth: 320;
$maxWidthContainer: 1140;
$large-display: 1200;
$medium-display: 920;
$small-display: 760;
$mobile-display: 480;

/*maine colors*/
$color-maine-blue: #c5d9d3;
$color-maine-dark: #4D4D4F;
$color-maine-brown: #B8AB80;
/*$color-lightgrey: #f7f7f7;
$color-midgrey: #e3e2e2;
$color-darkgrey: #757575;*/
$color-maine-text: #75807d;
$color-header-text: white;

/*font sizes*/
$extra-large-font: 80px;
$large-font: 40px;
$medium-font: 30px;
$small-font: 25px;

/*border radius for all*/
$br: 5px;