.header-container {
  min-width: $minWidth+px;
  background-color: $color-maine-brown;
  box-shadow: 0px -8px 19px -12px #000000 inset;
}
.logo-container {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  img{
    height: 150px;
  }
}
.header-text-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  color: $color-header-text;
  font-weight: 100;
  font-size: $medium-font;
  opacity: 0.78;
}

@media (min-width: $medium-display+px) {
  .header-container {
    height: 320px;
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    padding: 40px 0 40px 0;
    img {
      height: 160px;
    }
  }
  .header-text-container {
    font-size: $large-font;
  }
}

@media (min-width: $large-display+px) {
  .header-container {
    height: 360px;
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    img {
      height: 200px;
    }
  }
}