.header-container {
  min-width: $minWidth+px;
  background-color: $color-maine-brown;
}
.logo-container {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}
.header-text-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  color: $color-header-text;
  font-weight: 200;
}